.hO-t{
    font-size: 1.4em;
    font-weight: 500;

}

.hO-crd{
    box-shadow: #c49358 0px 0px 15px;
    border-radius: 8px;
}


.hO-sub{
    border:1px solid #c49358;
    color: #c49358;
}

.hSrch-btn{
    background-color: #c49358;
    color: white;
}

.jrYYEB > .wrapper{
    position: absolute !important;
    border-radius: 8px !important;
    z-index: 2 !important;
}



.eZgdJc{
    display: none !important;
}