.pd-title{
    font-size: 2.3em;
}

.pd-vid{
    font-size: 1.3em;
}
.pd-ipr{
    font-size: 1.3em;
}
@media screen and (max-width:768px) {
    
    .vid-items{
        width: 250px;
        height: 200px;
    }
}