body{
    overflow-x: hidden;
    background-color: #f8f3ec;
    /* counter-reset: my-sec-counter; */
}

.navb{
    background-color: #ebdbc6;
}
.menuTab {
 
    box-shadow: 0px 3px 16px rgb(0 0 0 / 0.1);
    
    width: 100vw;
    background: #ffffff;
    height: 8vh;        
    overflow-y: hidden;
    overflow-x: hidden;
    transition: 0.3s all ease;
   
}
.menuTab.collapsed {
    height: 0;
}

.btn{
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem transparent, .5;
}

.user{
    color: #C49358;
}

.p-crd{
    box-shadow: 0 0 20px rgba(165, 174, 177, 0.25);
}

.doc-tab{
    float: right;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
}

.doc-tab:focus{
   border-bottom: 2px solid #077396;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
   transition: 0.1s border-bottom ease-in;
   color: black;
}

.prof-tab{
    float: left;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;


}

.prof-tab:focus{
    border-bottom: 2px solid #077396;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
   transition: 0.2s border-bottom ease;
   
}

.doc-signup{
    background-color: #C49358;
    color: white;
    border-radius: 10em !important;
    padding: 0.5em 1.5em;
}

.form-label{
    font-weight: 500;
}

.add-t{
    font-size: 22px;
    font-weight: 500;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 991px) {
    .navhide
    {
        visibility: hidden;
    }
    .notification
    {
        margin-top: -80px;
    }
    .address
    {
        margin-top: -40px;
    }
}


